# Code quality
black
mypy
pytest
flake8

# Standard utility packages
numpy <= 1.21.5
matplotlib
seaborn
pandas
ipykernel
ipywidgets
tqdm

# Optimization and statistics
scipy
pymc3
arviz
aesara

# Learning packages
torch >= 1.9.0

# Autodiff
jax[cpu]
