# Code quality
black
mypy
pytest
flake8

# Standard utility packages
numpy <= 1.21.5
matplotlib
celluloid
seaborn
pandas
ipykernel
ipywidgets
tqdm

# Optimization
scipy
nevergrad

# Learning packages
torch >= 1.9.0

# Autodiff
jax[cpu] >= 0.3.0

# Probabilistic programming
pymc3
arviz
aesara
numpyro
